[submodule "src/detect/weideman-RegexStaticAnalysis"]
	path = src/detect/src/detectors/weideman-RegexStaticAnalysis
	url = https://github.com/NicolaasWeideman/RegexStaticAnalysis
[submodule "src/detect/src/detectors/shen-ReScue"]
	path = src/detect/src/detectors/shen-ReScue
	url = https://github.com/davisjam/ReScue
	branch = SupportForVRD
[submodule "src/detect/src/detectors/mclaughlin-regulator"]
	path = src/detect/src/detectors/mclaughlin-regulator
	url = https://github.com/ucsb-seclab/regulator-dynamic.git
[submodule "src/detect/src/detectors/hong-EvilStrGen"]
	path = src/detect/src/detectors/hong-EvilStrGen
	url = https://github.com/Anonymous89813/EvilStrGen.git
[submodule "src/detect/src/detectors/li-ReDoSHunter"]
	path = src/detect/src/detectors/li-ReDoSHunter
	url = https://github.com/yetingli/ReDoSHunter.git
